body {
  padding: 10px;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.product-list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.basket {
  width: 25%;
  height: 60vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.basket > h3 {
  text-align: center;
  padding: 10px;
  background: #D3D3D3;
  font-weight: 300;
}

.basket > p {
  text-align: center;
  padding-top: 10px;
}

.banner {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > h1 {
  width: 60%;
  text-align: center;
}

.product-card {
  height: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 240px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  /*margin: 0px 10px;*/
}

.product-img {
  height: 60%;
  background: grey;
  background-size: cover;
}

.product-infos {
  flex-grow: 1;
}

.product-description, .product-price {
  padding: 5px;
}

.basket-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.basket-info > button {
  width: 50%;
  margin-right: 5px;
  background: #3CACED;
  color: white;
}

.basket-info > button:hover {
  width: 50%;
  margin-right: 5px;
  background: #3CACED;
  color: white;
  cursor: pointer;
}

.basket-info > .quantity-infos {
  width: 40%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.quantity-infos > input {
  width: 50px;
}

.quantity-infos > label {
  margin: 0;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.basket-item > button {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
}

.basket-item > button:hover {
  cursor: pointer;
}

.basket-content {
  flex-grow: 1;
  overflow: scroll;
}

.basket-content > p {
  text-align: center;
}

.total-price {
  padding: 10px;
  text-align: center;
  border-top: 1px solid black;
}

